
/* * { don't add this in without testing results first
    box-sizing: border-box;
  } */

body {
    background: rgb(240, 220, 240);
    /* padding-bottom: 70px;  not helping with sticky footer*/
    /* margin-bottom: 70px; not helping with sticky footer*/
}

.navbar {
    background: white;
}

/* Rounded border */
hr.purple {
    border-top: 4px solid purple;
  }

/* makes the text wrap under the picture when the screen is smaller */
.wrapTextUnder {
    float: left;
    margin-right: 30px;
}

.contentSection {
    background: white;
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px;
    width: 60%;
}

.navbar-brand {
    background:purple; 
    color: #fff;  
    font-weight: bold;
    padding: 10px 30px;
}

.nav-link {
    color: black;
}

h1 {
    color: purple;
}

h4 {
    font-size: 12px;
    margin-top: 5px;
}

.customBtn {
    background-color: purple;
    color: white;
}

/* .card-img, */
.card-img-overlay {
    width: 100%;
    /* height: 300px; */
}

.card-title {
    background-color: purple;
    color: white;
    padding: 10px 30px;
    text-align: center;
}

footer {
    background-color: gray;
    bottom: 0;
    /* border-top: 25px; not helping with sticky footer*/
    /* border-color: black; not helping with sticky footer*/
    color: white;
    height: 60px;
    /* margin-top: 10px; not helping with sticky footer*/
    /* padding-top: 5px; not helping with sticky footer*/
    position: absolute;
    text-align: center;
    width: 100%;
}

/* copied from in-class examples, will adjust as needed if and when they get used. *//* this happens on the biggest screens */
/* Width at 980px and below, the largest of displays */
@media screen and (max-width: 980px) {
    body {
        background-color: rgb(240, 220, 240);
    }
}
  
/* Width at 748px and below, the medium size side of displays */
@media screen and (max-width: 748px) {
    body {
        background-color: rgb(221, 150, 221);
    }

    .contentSection {
        margin-left: 7px;
        margin-top: 20px;
        width: 95%;
    }
} 
  
/* Width at 640px and below, the smaller side of displays */
@media screen and (max-width: 640px) {
    body {
        background-color: purple;
    }
    
    .wrapTextUnder {
        float: none;
    }

    /* .navbar,   nope, did nothing
    .nav {
        text-align: center;
    } */
}